{% extends 'base.html.twig' %}

{% block body %}
    <div class="users-container">
        <h1>Liste des Avocats</h1>
        <div class="users-list">
            {% if avocats|length > 0 %}
                {% for avocat in avocats %}
                    <div class="user-card">
                        {% if avocat.photo %}
                            <img src="{{ asset('C:\Users\tarik\avocatTFE2\public\images' ~ avocat.photo) }}" alt="Photo de {{ avocat.nom }}" class="user-photo">
                        {% else %}
                            <p>Aucune photo disponible.</p>
                        {% endif %}
                        <div class="user-info">
                            <h2>Maître {{ avocat.nom|default('Non spécifié') }} {{ avocat.prenom|default('') }}</h2>
                            {% if avocat.specialites %}
                                <p>Spécialités :</p>
                                <ul>
                                    {% for specialite in avocat.specialites %}
                                        <li>{{ specialite.nom }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Aucune spécialité définie.</p>
                            {% endif %}                            <a href="{{ path('reservation_new', {'userId': avocat.id}) }}" class="btn btn-primary">Prendre rendez-vous</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun avocat trouvé.</p>
            {% endif %}
        </div>
    </div>
    <style>
        .users-container {
            padding: 20px;
            max-width: 1200px; /* Limiter la largeur maximale pour une meilleure esthétique */
            margin: auto; /* Centrer le conteneur */
        }
        .users-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .user-card {
            width: 23%; /* Ajuster en fonction de la taille de l'écran */
            margin: 0.5%; /* Petite marge pour un peu d'espace */
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Une légère ombre pour mieux distinguer les cartes */
            text-align: center;
        }
        .user-photo {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .user-info {
            margin-top: 10px;
        }
        @media (max-width: 768px) {
            .user-card {
                width: 48%; /* Pour les petits écrans */
                margin: 1%; /* Ajuster les marges pour petits écrans */
            }
        }
    </style>
{% endblock %}
